@media (width > 1000px) {
  .burger-menu {
    display: none;
  }
  header {
    background-size: cover;
    height: 100vh;
    align-items: start;
    position: relative;
  }
  header nav {
    display: block;
    margin-block-end: 18vw;
  }

  .arrow-wrapper {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
  }
  
  .arrow-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500%;
    height: 500%;
    background: radial-gradient(ellipse, rgb(255, 255, 255) 30%, rgba(255,255,255,0) 70%);
    filter: blur(25px);
    z-index: -1;
    pointer-events: none;
  }
  
  .down-arrow {
    display: block;
    width: 2.4vw;
    height: auto;
    position: relative;
    z-index: 1;
  }
  

  .nav-list {
    list-style: none;
    display: flex;
    gap: 5vw;
  }
  .nav-list a {
    color: white;
    text-decoration: none;
    font-size: 1.25vw;
  }
  .svg-overlay {
    display: block;
  }
  .container {
    margin-block-start: 0;
    height: 69%;
    align-items: center;
    padding-block-start: 1vw;
  }
  .logo {
    font-size: 15vw;
    margin-block-end: 1vw;
  }
  .rasshifrovka {
    font-size: 2.5vw;
    margin-block-end: 3vw;
  }
  .podrobnee {
    width: 30%;
    font-size: 1.4vw;
    padding: 1vw 0;
  }
  .alternat {
    background-color: white;
    padding-block-start: 3vw;
    padding: 3vw 2vw 0 3vw;
    margin-block-end: -2vw;
  }
  .alternat h2 {
    display: block;
    font-size: 19vw;
    text-align: center;
    font-weight: 700;
  }
  .alternat-container {
    flex-direction: row;
    gap: 2vw;
    position: relative;
    top: -8vw;
  }
  .cartochka {
    width: 31vw;
    padding: 3vw;
  }
  .cartochka-info h3 {
    font-size: 2.5vw;
  }
  .cartochka-info p {
    font-size: 1vw;
  }
  .cartochka a {
    padding: 0.5vw 0;
  }
  .laboratory-info h2 {
    font-size: 3.2vw;
    margin-block-end: 1.5vw;
    text-align: left;
  }
  .laboratory-info p {
    font-size: 1vw;
    margin-block-end: 1vw;
  }
  .laboratory-info a {
    margin-block-start: 2vw;
    border: 1px solid black;
    width: 100%;
    padding: 1vw 0;
    font-size: 1.5vw;
  }
  .laboratory {
    display: flex;
    justify-content: space-between;
    margin-block-end: 4vw;
  }
  .laboratory-info {
    width: 30%;
    margin: 0 6vw 0 3vw;
  }
  .laboratory img {
    width: 55%;
  }

  .intresting h2 {
    font-size: 10.5vw;
    margin-block-end: 0;
  }

  .intresting-things-container {
    flex-direction: row;
    gap: 3vw;
  }

  .intresting-thing {
    padding: 2vw 1vw;
    height: 35vw;
  }

  .intresting-thing p {
    font-size: 1vw;
    width: 55%;
  }

  .intresting-thing a {
    padding: 0.5vw 0;
    width: 40%;
    align-self: center;
    margin-block-end: 3vw;
    font-size: 1vw;
  }

  .left-thing {
    width: 45%;
  }

  .telefon {
    width: 35%;

    top: 15%;
    left: 5%;
  }
  .skotch {
    width: 15%;

    top: 30%;
    left: 40%;
  }
  .tetrad {
    width: 40%;

    top: 20%;
    left: 55%;
  }

  .right-thing {
    width: 55%;
  }

  .plakat1 {
    width: 20%;

    top: 30%;
    left: 35%;
    z-index: 1;
  }

  .plakat2 {
    width: 20%;

    top: 30%;
    left: 16%;
    z-index: 2;
  }

  .calendar {
    width: 40%;

    top: 25%;
    left: 50%;
  }

  .intresting {
    margin-block-end: 5vw;
  }

  footer {
    padding: 5vw 2vw 2vw 2vw;
    height: 20vw;
  }

  .footer-container {
    height: 100%;
    margin-block-end: 0;
  }

  footer h2 {
    font-size: 8vw;
    margin-block-end: 1vw;
  }

  footer p {
    font-size: 1vw;
  }

  footer nav {
    margin: 0;
    margin-inline-end: 10vw;
  }

  .footer-nav-list {
    gap: 1vw;
  }

  .footer-nav-list a {
    font-size: 1vw;
  }

  .poloska {
    color: white;
    text-align: center;
  }

  /* --------------------------для детей--------------------------- */
  .kids-header {
    margin-block-end: 5vw;
  }
  .kids-header nav {
    margin-block-end: 16vw;
  }
  .kids-logo {
    margin-block-end: -1vw;
    line-height: 0.6;
    margin-block-end: 2vw;
  }
  .kids-rasshifrovka {
    margin-block-end: 2vw;
  }

  .about-container-first {
    display: flex;
    justify-content: space-between;
    margin-block-end: 5vw;
  }

  .about-game-left h2 {
    font-size: 3.2vw;
    text-align: left;
    margin-block-end: 1.5vw;
  }

  .about-game-left {
    margin-inline-start: 2vw;
    margin-block-end: 0;
    width: 30%;
  }

  .nout-devochka {
    width: 60%;
    margin-block-end: 0;
  }

  .about-game p {
    font-size: 1vw;
    margin-block-end: 1vw;
    line-height: 1.5;
    padding: 0;
  }

  .top-text-desktop {
    display: block;
  }

  .top-text-mobile {
    display: none;
  }

  .about-container-second {
    display: flex;
    margin-block-end: 5vw;
  }

  .about-game-right {
    margin-inline-start: 5vw;
    margin-inline-end: 3vw;
    display: flex;
    flex-direction: column;
  }

  .mockapchic-telefon {
    width: 60%;
    height: auto;

    margin: 0;
  }

  .play-container {
    margin-block-start: 5vw;
    height: 100vh;
    background-size: cover;
    padding: 0 3vw;
  }

  .play-container a {
    width: 30%;
    padding: 1vw 0;
    font-size: 1.5vw;
  }

  .kids-footer {
    margin-block-start: 5vw;
  }

  /* ----------------------------путеводитель------------------------------------- */

  .putevod-header {
    margin-block-end: 5vw;
  }

  .putevod-logo {
    margin-block-end: 2vw;
  }

  .putevod-main {
    padding: 0 3vw;
    margin-block-end: 5vw;
  }

  .putevod-info-header-desktop {
    display: block;
    font-size: 3.2vw;
    font-weight: 700;
    text-align: left;
    margin-block-end: 1.5vw;
  }

  .putevod-info-header-mobile {
    display: none;
  }

  .putevod-info {
    display: flex;
    justify-content: space-between;
    margin-block-end: 2vw;
  }

  .putevod-info-left {
    width: 30%;
  }

  .putevod-page1 {
    order: 1;
    padding: 0;
    margin: 0;
  }

  .putevod-info p {
    font-size: 1vw;
    margin-block-end: 1vw;
    line-height: 1.5;
    padding: 0;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 2vw;
    column-gap: 1vw;
  }

  .gallery-grid-info {
    padding: 1vw;
  }

  .gallery-grid p {
    font-size: 1vw;
    margin-block-end: 1vw;
    padding: 0;
  }

  .gallery-grid img {
    margin: 0;
  }

  .putevod-page5 {
    height: 100%;
    overflow: hidden;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }

  .putevod-page6 {
    grid-column: 1;
    grid-row: 4;
  }

  .putevod-page7 {
    grid-column: 2;
    grid-row: 4;
  }

  .gallery-grid .gallery-grid-info-button-desktop {
    display: block;
    width: 100%;
    padding: 1vw 0;
    font-size: 1.5vw;
    margin-block-start: 0;
  }

  .info-button-mobile {
    display: none;
  }

  /* ----------------------------афиша------------------------------------- */

  .events-header {
    margin-block-end: 2vw;
  }

  .events-main {
    padding: 0 2vw;
  }

  .events-info-container {
    display: flex;
    justify-content: space-between;
    margin-block-end: 8vw;
  }

  .events-info-left {
    width: 30%;
  }

  .events-main h2 {
    font-size: 2.5vw;
    text-align: left;
    margin-block-end: 2vw;
  }

  .events-info-left p {
    font-size: 1vw;
    margin-block-end: 1vw;
  }

  .lectures-button {
    margin: 0;
    margin-block-start: 6vw;
    font-size: 1.5vw;
    padding: 1vw 0;
  }

  .events-info-right {
    margin: 0;
    margin-inline-end: 8vw;
  }

  .events-container {
    flex-direction: row;
    gap: 3vw;
    margin-block-end: 10vw;
  }

  .event-card {
    width: 30vw;
  }

  .event-card a {
    padding: 0.6vw 0;
  }

  .bottom-button {
    width: 33%;
    margin: 8vw auto;
  }

  /* ---------------------------------------магазин------------------------------------------------- */

  .shop-nav a {
    color: black;
  }

  .shop-header {
    margin-block-end: 3vw;
  }

  .shop-main h2 {
    margin-block-end: 1vw;
  }

  .shop-button {
    margin: 0;
    margin-block-start: 3vw;
    font-size: 1.5vw;
    padding: 1vw 0;
  }

  .shop-card {
    width: 30vw;
  }

  .shop-card a {
    padding: 0.6vw 0;
  }

  /* ---------------------------------------лаборатория------------------------------------------------- */

  .interactive-image-container {
    display: block;
  } 

  .laboratory-header {
    background-position: center;
    background-size: cover;
    margin-block-end: 0;
  }
  
  .laboratory-logo {
    font-size: 15vw;
  }

}
