.non-glass-shard {
    animation: rotate-clockwise 40s linear infinite;
  }

.glass-shard {
    animation: rotate-clockwise 40s linear infinite;
  }
  
  @keyframes rotate-clockwise {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes arrowAppear {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
