@font-face {
font-family: 'PlayenSans-Regular';
src: url(../fonts/PlayenSans-Regular.ttf) format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue-Bold.ttf) format('truetype');
    font-weight: 700;
    font-size: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue-Regular.ttf) format('truetype');
    font-weight: 400;
    font-size: normal;
}