*,*::after,*::before {
    box-sizing: border-box;
}
:root {
    --font-size-medium:7.5vw;

}
body {
    font-family: 'BebasNeue', Arial, sans-serif;
    font-weight: 400;
}
img {
    max-width: 100%;
        height: auto;
        display: block;
    }
button {
    font-family: 'BebasNeue', Arial, sans-serif;
}
header {
    background-image: url(../images/altushki.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: end;
}
.container {
    display: flex;
    flex-direction: column;
    width: 82vw;
    height: 80vh;

}
.logo {
    font-weight: 700;
    color: white; 
    font-size: 50vw;
    text-align: center;
    margin-block-end: 3vw;
    line-height: 0.6;
}
.rasshifrovka {
    font-size: var(--font-size-medium);
    color: white;
    text-align: center;
    margin-block-end: 32vw;

}
.podrobnee {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 3vw 0;
    font-size: 5vw;
}
.alternat {
    background-color: black;
    padding: 17vw 3.5vw;
    margin-block-end: 15vw;
}
.alternat h2 {
    display: none;
    
}
.alternat-container {
    display: flex;
    flex-direction: column;
    gap: 9vw;
}
.cartochka {
    background-image: url(../images/kartochka.webp);
    height: 92vw;
    width: 93vw;
    display: flex;
    flex-direction: column;
    padding: 6vw 10vw;
    align-items: center;
    justify-content: space-between;
}
.cartochka-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
}
.cartochka-info h3 {
    color: black;
    font-weight: 700;
    font-size: var(--font-size-medium);
}
.cartochka-info p {
    font-family: 'PlayenSans-Regular', Arial, sans-serif;
    text-align: center;
    font-size: 3vw;
}
.cartochka button {
width: 100%;
background-color: black;
color: white;
font-family: 'BebasNeue', Arial, sans-serif;
padding: 2vw 0;
}
.kniga-img {
    width: 80%;
}
.holl-img {
    width: 50%;
}
.nout-img {
    width: 70%;
}
.laboratory-info {
    width: 95%;
    margin: 0 auto;
    margin-block-end: 13vw;
}
.laboratory-info h2 {
    font-weight: 700;
    font-size: 14vw;
    margin-block-end: 1.5vw;
    text-align: center;
}
.laboratory-info p {
    font-family: 'PlayenSans-Regular', Arial, sans-serif;
    font-size: 5vw;
    margin-block-end: 3vw;
}
.laboratory-info button {
    margin-block-start: 5vw;
    background-color: #FDC2F6;
    color: black;
    border: 1px solid black;
    width: 100%;
    padding: 3vw 0;
    font-size: 5vw;
}